<template lang="pug">
v-dialog(
  :value="show",
  max-width="700",
  persistent,
)
  v-form(
    ref="form",
    v-on:submit.prevent="submit()",
  )
    v-card
      v-toolbar.elevation-0(color="primary", dark)
        v-toolbar-title Parameters fields states

      v-card-text
        v-layout(
          row,
          wrap,
          mb-3,
        )
          v-flex(xs5) Field values
          v-flex(xs7, pl-4) Mark fields as invalid

        v-layout(
          row,
          wrap,
          v-for="(item, key) in parameters",
          v-if="item.in_form",
          :key="key"
        )
          v-flex(xs1, pa-2, pt-4)
            v-icon(color="primary", dark, v-if="!item.invalid") check_circle
            v-icon(color="red", dark, v-if="item.invalid") warning
          v-flex(xs4)
            custom-field
              template(slot="label") {{ item.title }}
              template(slot="value") {{ item.value }}
              template(slot="hint") {{ item.description }}

          v-flex(xs1, pl-4, pt-4)
            v-checkbox(
              v-model="item.invalid",
              @click.native="resetMessage($event, key)",
            )
          v-flex(xs6)
            v-text-field(
              :name="'error' + key",
              label="Message to the customer ",
              v-model="item.error",
              :disabled="!item.invalid",
              :error-messages="errors.collect(key)",
              data-vv-as="message",
              :data-vv-name="key",
              v-validate="{ required: item.invalid }",
              type="text",
            )

      v-card-actions
        v-spacer
        v-btn#cancel-check-param(
          flat,
          @click="cancel",
        ) Cancel
        v-btn#apply-check-param(
          flat,
          :loading="loading",
          @click="submit",
          :disabled="errors.any()",
          color="primary",
        ) Save
</template>


<script>
import {
  clone,
  ifElse,
  identity,
} from 'ramda';
import CustomField from 'components/common/CustomField.vue';


export default {
  components: {
    CustomField,
  },

  props: {
    fields: [Object, Array],
    show: Boolean,
  },

  data() {
    return {
      parameters: clone(this.fields),
      loading: false,
    };
  },

  watch: {
    show() {
      this.parameters = clone(this.fields);
      this.loading = false;
    },
  },

  methods: {
    resetMessage(e, key) {
      this.parameters[key].error = '';
    },

    cancel() {
      this.$emit('cancel');
    },

    async submit() {
      this.loading = true;
      const valid = await this.$validator.validateAll();
      const save = () => this.$emit('ok', this.parameters);

      ifElse(
        identity,
        save,
        () => { this.loading = false; },
      )(valid);
    },
  },
};
</script>
