md-dialog.dialog.dialog_strict_900(aria-label='Edit parameter', md-theme='{{ $ctrl.theme }}')
  // Toolbar
  md-toolbar.md-hue-1
    .md-toolbar-tools
      h2 {{ $ctrl.parameter.id ? 'Edit' : 'Add' }} parameter

  // Content
  md-dialog-content
    form.md-dialog-content.dialog__content(layout='row', name='editParameterForm')
      div(flex='50', layout='column')
        span General configuration:

        // Parameter ID (name)
        md-input-container.dialog__field.md-block
          label.label.md-container-ignore ID
          input#parameter-name(
            name='name',
            ng-model='$ctrl.parameter.name',
            ng-change='editParameterForm.name.$setValidity("duplicate-entry", true)',
            ng-pattern='$ctrl.namePattern',
            type='text',
            required,
            aria-label='Parameter ID',
            md-maxlength='100',
          )
          div(ng-messages='editParameterForm.name.$error')
            div(ng-message='duplicate-entry') ID must be unique
            div(ng-message='pattern') Invalid ID, please use only alphanumeric characters (starting with alpha character)
            div(ng-messages-include='error-messages')
          .hint Please specify ID of the parameter, must be unique for this connector.

        // Parameter Title
        md-input-container.dialog__field.md-block
          label.label.md-container-ignore Title
          input#parameter-title(
            name='title',
            ng-model='$ctrl.parameter.title',
            ng-pattern='$ctrl.alphanumericTextPattern',
            type='text',
            required,
            aria-label='Title',
            md-maxlength='100',
          )
          div(ng-messages='editParameterForm.title.$error')
            div(ng-message='pattern') Invalid input, please use only alphanumeric characters
            div(ng-messages-include='error-messages')
          .hint Parameter title, used as a label for inputs.

        // Parameter Description
        md-input-container.dialog__field.md-block
          label.label.md-container-ignore Description
          textarea#parameter-title(
            name='description',
            ng-model='$ctrl.parameter.description',
            ng-pattern='$ctrl.alphanumericTextPattern',
            type='text',
            required,
            aria-label='Description',
            md-maxlength='100',
            rows='5',
            max-rows='3',
          )
          div(ng-messages='editParameterForm.description.$error')
            div(ng-message='pattern') Invalid input, please use only alphanumeric characters
            div(ng-messages-include='error-messages')
          .hint Parameter description, used as hint for inputs.


      div.offset_l_15(flex='50', layout='column')
        span Constraints:

        md-input-container.dialog__field.md-block
          md-checkbox#constraints-visibility(ng-model='$ctrl.parameter.in_form') Customer

        md-input-container.dialog__field.md-block
          md-checkbox#constraints-required(ng-model='$ctrl.parameter.constraints.required') Required

  // Buttons
  md-dialog-actions.dialog__actions(layout='row')
    div(flex='50', layout='row' layout-align='start center')
      md-button#remove-parameter.md-primary(
        ng-disabled='$ctrl.progress',
        ng-if='$ctrl.parameter.id',
        ng-click='$ctrl.confirmDelete = true',
      ) Delete parameter

    div(flex='50', layout='row' layout-align='end center')
      md-button#reset-parameter(ng-click='$ctrl.cancel()', ng-disabled='$ctrl.processing') Cancel
      circular-progress-button#save-parameter(
        text='Save',
        on-click='$ctrl.apply()',
        md-autofocus='true',
      )

confirm-dialog(
  ng-if='$ctrl.confirmDelete',
  on-ok='$ctrl.remove()',
  title='Delete parameter {{ $ctrl.parameter.title }} (ID {{ $ctrl.parameter.name }})',
  description='This parameter will be deleted. Are you sure you want to do this?',
  ok='Yes',
  cancel='No',
)
