include ../../includes/mixins.pug
include ../../includes/cp-header.pug

// Main
main.main([@pageFade]="'in'")
  // Info block
  section.container

    // Title
    h1.section-title
      a(routerLink='/users')
        i.section-title__icon.icon.material-icons arrow_back
        span.section-title__text Add user

    // Form
    form.form(#addUserForm = 'ngForm')
      div([ngClass]="{'is-error': !addUserEmail.valid}")
        // Email
        +flex(class='form__row', layout='row', align='start center')
          +flex(class='form__column form__column_left', flex='20')
            // Label
            label.label(for='email')
              | Email

          // Field
          +flex(class='form__column form__column_right', flex='80')
            .field
              // Input
              input.input(type='email', name="addUserEmail" class='input', id='email', placeholder='name@domain.com', required, [(ngModel)]="newUser.email", #addUserEmail="ngModel")
              // Error message
              .error-message(*ngIf='addUserEmail.errors')
                i.material-icons.icon priority_high
                span.icon-text(*ngIf='addUserEmail.errors.required')
                  | Password is required

      // Role
      +flex(class='form__row', layout='row', align='start center')
        +flex(class='form__column form__column_left', flex='20')
          // Label
          label.label(for='role')
            | Administrator

        // Field
        +flex(class='form__column form__column_right', flex='80')
          .field
            // Input
            .checkbox
              input.checkbox__control(type='checkbox', name='role', value='val', id='role', [(ngModel)]="newUser.role")
              label.checkbox__box(for='role')

      // Password
      div([ngClass]="{'is-error': !addUserPassword.valid}")
        +flex(class='form__row', layout='row', align='start center')
          +flex(class='form__column form__column_left', flex='20')
            // Label
            label.label(for='password')
              | Password

          // Field
          +flex(class='form__column form__column_right', flex='80')
            .field
              // Input
              input.input(type='password', class='input', id='password', name='password' placeholder='password', required, minlength="6", [(ngModel)]="newUser.password", #addUserPassword="ngModel")
              // Error message
              .error-message(*ngIf='addUserPassword.errors')
                i.material-icons.icon priority_high
                span.icon-text(*ngIf='addUserPassword.errors.minlength')
                  | Should contain at least 6 symbols
                span.icon-text(*ngIf='addUserPassword.errors.required')
                  | Password is required

      // Limit
      div([ngClass]="{'is-error': !addUserLimits.valid}")
        +flex(class='form__row', layout='row', align='start center')
          +flex(class='form__column form__column_left', flex='20')
            // Label
            label.label(for='limit')
              | Limit

          // Field
          +flex(class='form__column form__column_right', flex='80')
            .field
              // Input
              input.input(type='number', min="0", class='input', id='limit', name="addUserLimits", required, [(ngModel)]="newUser.limit", #addUserLimits="ngModel")
              // Error message
              .error-message(*ngIf='addUserLimits.errors')
                i.material-icons.icon priority_high
                span.icon-text(*ngIf='addUserLimits.errors.required')
                  | Limits are required


      // Button
      +flex(class='form__row', layout='row', align='start center')
        +flex(class='form__column form__column_left', flex='20')
        +flex(class='form__column form__column_right', flex='80')
          +flex(class='field', layout='row', align='end start')
            button.button([disabled]="!addUserForm.form.valid", (click)="addUser()")
              span.button-label(*ngIf="!spinner")
                | Add
              span.button-spinner(*ngIf="spinner")
                .throbber
                  .cssload-thecube
                    .cssload-cube.cssload-c1
                    .cssload-cube.cssload-c2
                    .cssload-cube.cssload-c4
                    .cssload-cube.cssload-c3
